{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "navigation": "./src/navigation",
                    "components": "./src/components",
                    "screens": "./src/screens"
                }
            }
        ]
    ],
}